<h1 *ngIf="token==false">
    
</h1>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->



<!-- ----------------------------------- -->
<div *ngIf="token">
    <table class="content-table">
        <thead>
          <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Ücret</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars">
            <td>{{car.brand}}</td>
            <td>{{car.model}}</td>
            <td>{{car.dailyPrice}}</td>
            <td> <a routerLink="/cardetails" (click)="selectCar(car)">Seç ve İncele</a> </td>
          </tr>
        </tbody>
      </table>
    </div>
