<h1 *ngIf="token==false">
    
</h1>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<div *ngIf="token">
<mat-selection-list  [multiple]="false">
    
        <mat-list-option *ngFor="let car of cars">
            <mat-card (click)="selectCar(car)" routerLink="/cardetails">
                <div class="left" >
                    {{car.brand}}
                    {{car.model}}
                </div>
                <div class="right">
                    Günlük ücret: {{car.dailyPrice}}
                </div>
            </mat-card>
        </mat-list-option>

</mat-selection-list>
</div>
