<div *ngIf="myRents.length>0">
    <table class="content-table">
        <thead>
          <tr>
            <th>Model</th>
            <th>Kialama Tarihi</th>
            <th>Kiralama Bitiş</th>
            <th>Ücret</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rent of myRents">
            <td>{{rent.model}}</td>
            <td>{{rent.rentDate}}</td>
            <td>{{rent.returnDate}}</td>
            <td>{{rent.price}}</td>
          </tr>
        </tbody>
      </table>
</div>
<div *ngIf="myRents.length==0">
    Kiralama yok
</div>

