
img{
    height: 200px;
    width: 200px;
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
}
.top{
    position: absolute;
    height: 10%;
    width: 100%;
}
.bottom{
    position: absolute;
    height: 50%;
    width: 100%;
}
li{
    display: inline-block;
}
agm-map {
   height: 650px;
  }