<table>
    <tr>
        <th>Id</th>
        <th>UserId</th>
        <th>BrandId</th>
        <th>MODEL</th>
        <th>Year</th>
        <th>capacity</th>
        <th>gearId</th>
        <th>dailyPrice</th>
        <th>rent</th>
        <th>lat</th>
        <th>lng</th>
    </tr>
    <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.userId}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.capacity}}</td>
        <td>{{car.gearId}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.rent}}</td>
        <td>{{car.lat}}</td>
        <td>{{car.lng}}</td>
    </tr>
</table>