  <div class="container">
    <table>
    <tr>
        <th>Id</th>
        <th>Markası</th>
        <th>MODEL</th>
        <th>Year</th>
        <th>capacity</th>
        <th>gearId</th>
        <th>dailyPrice</th>
        <th>rent</th>
        <th>lat</th>
        <th>lng</th>
        <th>düzenle</th>
        <th></th>
    </tr>
    <tr *ngFor="let car of carDetails">
        <td>{{car.carId}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.capacity}}</td>
        <td>{{car.gear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.rent}}</td>
        <td>{{car.lat}}</td>
        <td>{{car.lng}}</td>
        <td><a routerLink="/admin/cardetails" (click)="carIdSetLocal(car.carId)">Detay</a> </td>
        <td><a routerLink="/admin/caredit"(click)="carEditIdSetLocal(car.carId)">Güncelle</a></td>
        </tr>
    </table>
    
</div>

