
<table class="content-table">
    <thead>
        <tr>
            <th>Kiralayan</th>
            <th>Model</th>
            <th>rentdate</th>
            <th>returndate</th>
            <th>price</th>
    
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rent of rents">
            <td>{{rent.userName}}</td>
            <td>{{rent.model}}</td>
            <td>{{rent.rentDate}}</td>
            <td>{{rent.returnDate}}</td>
            <td>{{rent.price}}</td>
        </tr>
    </tbody>
  </table>