<div *ngIf="selectCar">
    <mat-list role="list" >
        <mat-list-item role="listitem">{{carDetail.brand}}</mat-list-item>
        <mat-list-item role="listitem">{{selectCar.model}}</mat-list-item>
        <mat-list-item role="listitem">Günlük Ücret: {{selectCar.dailyPrice}}</mat-list-item>
      </mat-list>
</div>



Konum
<button mat-stroked-button color="primary" (click)="rent()" routerLink="/pay" class="rent">Kirala</button>

<agm-map [zoom]="18" [latitude]="lat" [longitude]="lng"  >
    <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
  </agm-map>

