img{
    height: 200px;
    width: 200px;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    position: absolute;
    bottom: 0px;
}

.rent{
    position: absolute;
    top: 30px;
    right: 30px;
}
agm-map {
    height: 400px;
   }